@import 'tailwindcss';

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;

  --font-family-display: 'Inter', sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
